# General
node_modules/
dist/
build/
.DS_Store
*.log

# Environment variables
.env
.env.*
!.env.example

# App specific exclusions
# World API
apps/world-api/node_modules/
apps/world-api/logs/
apps/world-api/soulbyte-back/
apps/world-api/dist/
apps/world-api/.env
apps/world-api/.env.*
!apps/world-api/.env.example

# Agents
apps/agents/node_modules/
apps/agents/dist/
apps/agents/.env

# Web
apps/web/node_modules/
apps/web/dist/
apps/web/.env
